body{
    background-image: url("./images/background.png");
    height: 100%;
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.main-menu{
    display: flex;
    flex-direction:column;
    align-items: center;

}
.grid-container{
    background-color: rgba(128, 128, 128, 0.589);
    width: 1500px;
    height: fit-content;
    border: solid;
    /* border-color: rgb(27, 246, 49); */
    border-color: white;
    /* border-color: grey; */
    border-radius: 50px;
    border-width: 1px;
}
.settings-grid-container{
    display: grid;
    grid-template-rows: 2fr, 1fr, 1fr;
    grid-template-columns: auto;
    gap: 50px;
}
.settings-grid-item{
    margin: 0px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0);
    color: white;
    text-align: center;
    transition-duration: 0.3s;

}
.settings-grid-item:hover:not(.header-grid-item,button){
    border: solid;
    border-width: 1px;
    background-color: rgba(128, 128, 128, 0.471);
}
.header-grid-item{
    font-size: 5em;
    font-weight: bold;
    text-decoration:underline;
    border: none;
    background-color: black;
    border-radius: 50px;
}
.levels-select-grid-item{
    font-family: 'Times New Roman';
    font-size: 3em;
}
.levels-select-grid-item > option{
    background-color: rgb(37, 37, 38);
}

.input-grid-item{
    font-size: 3em;
    border: solid;
    border-width: 1px;
    border-color: grey;
    font-family: 'Times New Roman';
}
::placeholder{
    color: rgb(162, 162, 162);
}
.button-grid-item{
    font-size: 3em;
    font-weight: bolder;
    border-radius: 50px;
    background-color: rgba(0, 128, 0, 0.549);
    /* transition-duration: 0.2s; */
    cursor:pointer;
    margin:3px;
    /* border-width: 1px; */
    /* border-color: grey; */
}
.button-grid-item:hover{
    /* background-color: rgb(128, 208, 16); */
    background-color: green;
    
}


.info-grid-container{
    display: grid;
    grid-template-rows: 2fr, 1fr, 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    margin-top: 50px;
}
.info-grid-item{
    font-size: 5em;
    color: white;
}
.info-header-grid-item{
    grid-column: 1 / -1;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
    background-color: black;
    margin: 0;
    padding: 20px;
    border-radius: 50px;
    
}
.label-item{
    padding-top: 15%;
}
.img-item{
    width: 400px;
    height: 300px;
    padding-inline-start: 220px;
}


.red-sparrow{
    width: 400px;
}

.brown-duck{
    width: 500px;
}

.white-duck{
    width: 350px;
}